<%= form_for(@user, url: '/signup') do |f| %>
  <!--<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>-->

  <fieldset class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Hi there! What's your name?", class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :email, "E-Mail Address (@naropa.edu or @students.naropa.edu)" %>
    <%= f.text_field :email, placeholder: "Enter your Naropa email address", class: "form-control" %>
  </fieldset>
  <button type="submit" class="btn btn-primary">Sign Up</button>
<% end %>
