<p id="notice"><%= notice %></p>

<h1>Listing Answers</h1>

<% @questions.each do |question| %>

<h3><%= question %><small class="text-muted"><br/><%= question.question %></small></h3>

  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Answer</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% question.answers.each do |answer| %>
        <tr>
          <td><%= answer.id %></td>
          <td><%= answer.answer %></td>
          <td><%= link_to 'Edit', edit_question_answer_path(answer.question, answer) %></td>
          <td><%= link_to 'Destroy', [answer.question, answer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
