<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @answer.answer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question.question %>
</p>

<%= link_to 'Edit', edit_question_answer_path(@answer.question, @answer)
%> |
<%= link_to 'Back', question_answers_path
%>
