<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity_category.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @activity_category.image %>
</p>

<%= link_to 'Edit', edit_activity_category_path(@activity_category) %> |
<%= link_to 'Back', activity_categories_path %>
