<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h1>Your Climate Commitments For 2016:</h1>
  </div>
</div>

<div id="no-commitments-indicator" class="row" style="display: <%= @commitments.count == 0 ? 'block' : 'none' %>">
  <div class="col-xs-12 text-xs-center" >
      <h3 class="text-muted">&mdash;</h3>
  </div>
</div>

<div class="row">
  <%
   cards_per_row = {}
   cards_per_row['xs'] = 1
   cards_per_row['sm'] = 2
   cards_per_row['md'] = 4
   cards_per_row['lg'] = 4
   cards_per_row['xl'] = 6
   @commitments.each_with_index do |commitment, index| %>

    <%= render :partial => "commitments/card-display/clearfixes", :locals => {cards_per_row: cards_per_row, index: index} %>

    <%= render :partial => "commitments/card-display/activity_card", :locals => {activity: commitment.activity, allow_new_commitments: false, cards_per_row: cards_per_row, post_action: "kill"} %>
  <% end %>
</div>

<%= # render info panes
render :partial => "commitments/card-display/info_panes", :locals => {cards_per_row: cards_per_row} %>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h2>Add Commitments</h2>
    <p class="text-muted">Choose a category to begin.</p>
  </div>
</div>

<div class="spacing"></div>

<div class="row">
  <%
    @categories.each do |category| %>
    
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-xs-center">
      <%= link_to new_commitment_path(:category_slug => category.slug) do %>
        <%= image_tag category.image.url(:thumb), class: "activity_category center-block" %>
        <p><%= category.title %></p>        
      <% end %>
    </div>
  
  <% end %>

</div>