<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h1>Your Climate Commitments For 2016:</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <% if @commitments.count == 0 %>
      <h3>&mdash;</h3>
    <% else %>
      <%
      @commitments.each_with_index do |commitment, index| %>

        <% if index % 6 == 0 %>  
          <div class="row">
        <% end %>

          <div class="col-xs-2 activity" style="font-size: 80%;">
          <div class="card">
            <div class="card-header">
              <%= commitment.activity.title %>
            </div>
            <div class="image-container" style="background-image:url(<%= image_path "sunset.jpg" %>);">
              <img src="<%= image_path 'check.png' %>" alt="Card image">
            </div>
            <div class="card-block">
              <p class="card-summary"><%= commitment.activity.summary %></p>
            </div>
          </div>      
        </div>

        <% if index % 6 == 3 || index == @commitments.count - 1 %>
          </div>
        <% end %>

      <% end %>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h2>Add Commitments</h2>
    <p class="text-muted">Choose a category to begin.</p>
  </div>
</div>

<div class="spacing"></div>

<div class="row">
  <%
    @categories.each do |category| %>
    
    <div class="col-xs-3 text-xs-center">
      <%= link_to new_commitment_path(:category_slug => category.slug) do %>
        <div class="activity_category center-block"></div>
        <p><%= category.title %></p>        
      <% end %>
    </div>
  
  <% end %>

</div>