<div class="row">
  <div class="col-xs-12">
    <%= link_to home_path, :class => "pull-right" do %>
    <button class="btn btn-lg btn-primary">Done <%= fa_icon "caret-right" %> </button>
    <% end %> 

    <h1>Add Commitments</h1>
    
    <hr/>
  </div>
</div>

<%
 @activities.each_with_index do |activity, index| %>

  <% if index % 4 == 0 %>  
    <div class="row">
  <% end %>

      <div id="activity_<%= activity.id %>" class="activity col-xs-3 <%= @commitments.exists?(activity: activity) ? 'committed' : '' %>">
    <div class="card">
      <div class="card-header">
        <%= activity.title %>
      </div>
      <div class="image-container" style="background-image:url(<%= image_path "sunset.jpg" %>);">
        <img src="<%= image_path 'check.png' %>" alt="Card image">
      </div>
      <div class="card-block">
        <p class="card-summary"><%= activity.summary %></p>
      </div>
      <div class="card-hidden">
        <div class="card-description">
          <%= markdown(activity.description) %>
        </div>
        <div class="card-action">
          <% if not @commitments.exists?(activity: activity) %>
            <%= render partial: 'commit_form', locals: {activity_id: activity.id} %>
          <% else %>
            <%= render partial: 'uncommit_form', locals: {commitment: @commitments.find_by(activity: activity)} %>
          <% end %>
        </div>
      </div>
    </div>      
  </div>

  <% if index % 4 == 3 || index == @activities.count - 1 %>
    </div>
  <% end %>

<% end %>

<!-- detailed view pane -->
<div id="highlight" class="row">
  
  <!-- holds card -->
  <div class="col-xs-3 card-holder">
  </div>
  
  <!-- description + buttons -->
  <div class="col-xs-9">
    
    <!-- close button -->
    <button id="close" class="pull-right btn-sm btn btn-secondary">X</button>
    
    <!-- holds description -->
    <div style="height: 100%; flex-direction: column;" class="flex-container">
      <p><strong>Tips, Tricks &amp; Resources:</strong></p>
      <div class="card-description-holder">
      </div>
    </div>
    
    <!-- commit button -->
    <div id="submit-action" class="pull-right">
    
    </div>
  </div>
  
  <!-- little triangle from: https://css-tricks.com/snippets/css/css-triangle/ -->
  <div class="triangle col-xs-3 text-xs-center" style="height: 0px;">
    <div class="center-block" style="width: 0px; height: 0px; border-top: 10px solid lightgray; border-left: 10px solid transparent; border-right: 10px solid transparent;"></div>
  </div>
  
</div>

<script>
$(function (){
  
  $commitButtonText = $("#commit button").html();
  
  $("#highlight").hide(0);
  
  // commit action
  $("#submit-action").click(function() {
    setButton($(this).find("button").first(), "loading"); 
  });
  
  // close highlight pane
  $("#close").click(function() {
    $("#highlight").slideUp();
    $(".card.active").removeClass("active");
  });
  
  // show highlight pane
  $(".card").click(function() {
    
    // cancel function if this card is already active
    if($(this).hasClass("active"))
      return;
    
    $card = this;
    
    $isSibling = false;
    
    // determine if new card is sibling of current
    $isSibling = $(this).parent().parent().find(".active").length == 1 ? true : false;
    
    // hide highlight
    if ($isSibling)
      $("#highlight .card-holder").fadeTo(0, 0, function(){replaceContent()});
    else
      $("#highlight").hide(0, function(){replaceContent()});
    
    function replaceContent() {
      // delete content
      $("#highlight .card-holder").html("");
      $("#highlight .card-description-holder").html("");
      $("#highlight #submit-action").html("");

      // insert new content
      $($card).clone().appendTo($("#highlight .card-holder"));
      $($card).find(".card-description").first().clone().appendTo($("#highlight .card-description-holder"));
      $($card).find(".card-action").first().clone().appendTo($("#highlight #submit-action"));

      //$("#commitment_activity_id").attr("value", $(this).parent().attr("id").substring("activity_".length));

      // reposition little triangle
      $index = $($card).parent().prevAll().length;
      $("#highlight .triangle").removeClass("col-xs-offset-0 col-xs-offset-3 col-xs-offset-6 col-xs-offset-9").addClass("col-xs-offset-"+($index*3));

      // show highlight    
      $("#highlight").insertBefore($($card).closest(".row"));

      if ($isSibling) {
        $("#highlight .card-holder").fadeTo(200, 1);
        //$("#highlight .card-description-holder").fadeTo(200, 1);
      }
      else
        $("#highlight").slideDown();
      
                  
      // set this card to active
      $(".card.active").removeClass("active");
      $($card).addClass("active");
      
    };
    
//    $(this).removeClass("col-xs-12").addClass("col-xs-"+$column_width);
//    $(this).parent().parent().removeClass("col-xs-"+$column_width).addClass("col-xs-12");
    
    // enable card info
//    $(this).siblings(".card-text").show();
    
    // add structure into the row
    //$column.append($("#info"));
    
    // add card into 
    //$("#info .col-xs-3").append(this);
  });
  
  // setButton(element, state)
  function setButton($element, $state, $text) {
    switch($state) {
      case 'reset':
        $($element).prop("disabled", false);
        $($element).html($text);
      break;
      case 'loading':
        $($element).prop("disabled", true);
        $($element).html("<%= escape_javascript(fa_icon 'spinner spin') %> Loading...");
      break;
    }
  }

});
</script>