<p id="notice"><%= notice %></p>

<h1>Listing Reduction Options</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Carbon impact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reduction_options.each do |reduction_option| %>
      <tr>
        <td><%= reduction_option.title %></td>
        <td><%= reduction_option.description %></td>
        <td><%= reduction_option.carbon_impact %></td>
        <td><%= link_to 'Show', reduction_option %></td>
        <td><%= link_to 'Edit', edit_reduction_option_path(reduction_option) %></td>
        <td><%= link_to 'Destroy', reduction_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reduction option', new_reduction_option_path %>
