<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reduction_option.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reduction_option.description %>
</p>
<p>
  <strong>Carbon impact:</strong>
  <%= @reduction_option.carbon_impact %>
</p>

<%= link_to 'Edit', edit_reduction_option_path(@reduction_option) %> |
<%= link_to 'Back', reduction_options_path %>
