<!DOCTYPE html>
<html lang="en">
<head>
  <%
  title = @site_title || "Tackling Climate Change One Action At A Time"
  description = @site_description || "Climate Change is real. Biking is one way to change the story. What will you do in 2016?"
  image = @site_image || "open-graph-image.png"
  url = @site_url || "http://greennaropa.com/"
  %>
  
  
  <title>GreenNaropa &mdash; <%= title %> </title>
  <meta name="description" content="<%= description %>" /> 
  
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">  
  
   <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="<%= title %>">
  <meta itemprop="description" content="<%= description %>">
  <meta itemprop="image" content="<%= asset_url "social-media/" + image %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="<%= asset_url "social-media/" + image %>">  
  
  <!-- Open Graph data -->
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:image" content="<%= asset_url "social-media/" + image %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:site_name" content="Green Naropa" />
  
  
  <!-- Stylesheets & Javascript -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= piwik_tracking_tag %>  

  
</head>
<body class="<%= controller_name %> <%= action_name %>">
  
<nav id="header" class="navbar navbar-full navbar-dark bg-primary bg-inverse">
  <div class="container">
    <%= link_to is_signed_in ? home_path : '/', class: "navbar-brand" do %>
      <%= image_tag('logo.png', id: "header-logo", height: 50) %>
    <% end %>
    
   <ul class="nav navbar-nav pull-xs-right">
     <li class="nav-item">
       <% #if user is logged in, then show logout button 
       if current_user %>
        Hi, <%= current_user.name %>! 
       <%= link_to logout_path, class: "nav-link", style: "display: inline-block; padding-left: 5px;" do %>
           <%= fa_icon "sign-out" %> Logout
         <% end %>
       <% #else show login button
       else %>
       <%= link_to login_path, class: "nav-link "+(current_page?(controller: 'sessions', action: 'new') ? 'active' : '') do %>
           <%= fa_icon "sign-in" %> Login
         <% end %>
        <% end %>
      </li>
    </ul>

    
  </div>
</nav>    
  
<div class="<%= @layout_fluid ? 'container-fluid' : 'container'%>">  
  <%= yield %>
</div>
  
<nav id="footer" class="navbar navbar-full navbar-dark bg-secondary bg-inverse">
  <div class="container">
    <%= link_to is_signed_in ? home_path : '/', class: "navbar-brand" do %>
      <%= image_tag('logo.png', height: 50) %>
    <% end %>
    
   <ul class="nav navbar-nav pull-xs-right">
     <li class="nav-item">
      Got something to say? We'd love to hear from you: <a class="nav-link" target="_blank" href="mailto:sayhi@greennaropa.com">sayhi@greennaropa.com</a> <%= fa_icon "heart" %> 
    </li>
  </ul>

    
  </div>
</nav>
  
</body>
</html>
